

<h2 class="question-title"><%= link_to question.title, question_path(question) %></h2>

  <div class="col-md-6 a-display"><img class="responsive center-block" src="http://placehold.it/300x300"><%= question.answer_a %></div>
  <div class="col-md-6 a-display"><img class="responsive center-block" src="http://placehold.it/300x300"><%= question.answer_b %></div>
    <button class="btn-default"><%= link_to "Edit Question", edit_question_path(question),  remote: true %></button>
  <button class="btn-default"><%= link_to "Delete Question", question_path(question),
                              :data => {:confirm => "Confirm?",
                              :method => "delete"} %></button>
